%h1= @script ? "Edit CSS Stylesheet" : "New CSS Stylesheet"

%form{ :action => @script ? "/scripts/:id".gsub(/:id/, @script[:name]) : "/scripts", :method => "POST" }
  %ul
    - ["name", "description", "author", "src_url", "min_url"].each do |e|
      %li
        %label= e.camelize
        %br
        - if e == "description"
          %textarea{ :name => e }= @script ? @script[:description] : ""
        - else
          %input{ :type => "text", :class => "text", :name => e, :value => @script ? @script[e.to_sym] : "" }
    %li
      %p{:style => "border:0;text-align:left;"}
        %input{ :type => "submit"}